html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, html body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.all > tbody > tr > td {
	vertical-align: top;
	border: 1pt solid #EFEFEF;
	width: 50%;
	padding: 2%;
}

table.all > tbody > tr > td div.card-wrapper {
	height: 7.85cm;
	overflow: hidden;
}


table.card tr.summary td {
	font-weight: bold;
	font-size: 15pt;
	padding-top: 10px;
}

table.card tr.description td, table.card tr.estimation td {
	padding-top: 10px;
}
table.card tr.description td img {
	max-width:100%;
}

table.card tr td.meta {
	width: 60%;
	font-size: 12pt;
}

table.card tr td.meta span.priority,
table.card tr td.meta span.reporter,
table.card tr td.meta span.version {
	font-weight: bold;
}

table.card tr:first-child td {
	vertical-align: top;
}

table.card h1 {
	margin: 0;
	font-size: 24pt;
	line-height:1;
	margin-bottom:6px;
}

table.card tr.reporter {
	font-size:10pt;
}

table.card tr.estimation td span.estimation {
	font-weight: bold;
}

span.epic {
	padding:2px 4px;
}

.page-break {
	page-break-before: always;
}